div{
    text-align: center;
}
h2{
    margin: 100px;
}
form{
    background-color: lightslategray;
    margin: 50px 450px 0px 450px;
    padding: 2%;
    border-radius: 25px;
}
input{
    position: relative;
    margin: 2%;
    padding: 2%;
    border-radius: 5px;
    background-color: bisque;
}
button{
    position: relative;
    top: -68px;
    right: -80px;
    left: 100px;
    padding: 5px;
    border-radius: 5px;
    background-color:lightgrey;
    margin: 5px;
}
